/* h2 {
  font-family: "Rubik Scribble", system-ui;
  font-size: 50px;
}

h3 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

a { 
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
}

p {
  font-family: "Nosifer", sans-serif;
  font-size: 40px;
} */

/*img{
  width: 200px;
}*/

/*.imagen-de-gato{
  width: 350px;
  border-width: 5px;
  border-color:rgb(242, 175, 76);
  border-style: dotted;
}*/

/*.bordes-redondeados { 
  border-radius: 50%;
}*/

.contenedor-listas {
  background-color: rgba(229, 224, 224, 0.452);
}