div {
  background-color: crimson;
}

img{
  margin-top: 15px;
  margin-bottom: 20px;
  /*padding: 20px 10px 10px 20px;*/
  background-color: rgb(0, 255, 38);
  border-width: 3px;
  border-color: black;
  border-style: solid;
}