div {
  background-color: crimson;
}

img{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  background-color: yellow;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}